* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 10px; */
}

.accordion-item {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
}

.accordion-header {
    background-color: black;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: black;
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
}

.accordion-content.open {
    max-height: 500px; /* Adjust as needed */
    padding: 10px;
}

h2{
    margin-top: 20px;
}
